.hero-unit {
  img {
    float: left;
    margin: 0 45px 0 -15px;
    width: 350px;
    height: 337px;
  }
  h1 {
    font-size: 48px
  }
}

img.home-browse {
  float: left;
  margin: 6px 25px 0 0;
  width: 120px;
  height: 74px;
}
img.home-sign-up {
  float: left;
  margin: 0 25px 0 0;
  width: 92px;
  height: 85px;
}