// Actions toolbar style
.actions.btn-toolbar {
  height: 30px;
  padding: 4px;
  margin: 0 0 15px;
  position: relative;
  background-color: #DDD;
  border: 1px solid #DDD;
  border-color: #DDD #DDD #C8C8C8;
  border-radius: 4px;
  box-shadow: 0 33px 33px rgba(255,255,255,0.7) inset,
    1px 1px 1px rgba(255,255,255,0.4) inset,
    -1px -1px 1px rgba(0,0,0,0.1) inset;
  .btn {
    border-color: #C0C0C0 #C0C0C0 #B8B8B8;
    &.btn-primary, &.btn-danger {
      border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.5)
    }
  }
  .shared-ribbon {
    width: 36px;
    height: 36px;
    background: image-url("shared_ribbon.png");
    position: absolute;
    right: -1px;
    top: -1px;
  }
}