$baseFontFamily: Helvetica, Arial, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 20px;
$textColor: #333;
$white: #fff;

$primary_color: #44AAEE;
$secondary_color: #55FF22;
$hilight_color: #EEEE22;
$error_color: #E72236;
$success_color: $secondary_color;

$link_color: #107EC1;

$selected_color: darken(#44AAEE, 30%);

$win_color: #2AD43E;
$draw_color: #2D3DE3;
$loss_color: #E33E2D;
$forfeit_color: #000;
$unknown_color: #999;